table.tablesorter {
	font-size: 10px;
	background-color: #EEE;
	width: 1280px;
	border: 1px solid #000;
}

table.tablesorter a {
	color: #000;    
}

table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #EEE;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter .even {
	background-color: #EEE;
}
table.tablesorter .odd {
	background-color: #DDD;
}
table.tablesorter .header {
	background-image: url(/images/tablesorter/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	background-color: #EEE;
	padding-left: 30px;
}
table.tablesorter .headerSortUp {
	background-image: url(/images/tablesorter/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(/images/tablesorter/desc.png);
	background-repeat: no-repeat;
}