*.DS_Store
*.swp
doc/*
doc/api
doc/app
config/database.yml
config/deploy/config.rb
coverage/*
db/*.db
db/*.sqlite3
db/schema.rb
features_rcov
features.txt
log/*
public/assets
public/stylesheets/*.css
public/stylesheets/*_packaged.css
public/javascripts/*_packaged.js
public/system
tmp/**/*
!.keep
