- title "Kinder"

%h1#kinder
  Liste aller Kinder


= render :partial => "layouts/menu"

%table.tablesorter
  %thead
    %tr
      %th.header Nummer
      %th.header Bild
      %th.header Vorname
      %th.header Name
      %th.header Beschreibung
      %th.header Schule
      %th.header Klasse
      %th.header Pate
      - for l in Letter.recent(2)
        %th.header
          = l.name
      %th.header{:colspan => "3"} Bearbeiten
  %tbody
    - for kid in @kids
      - cache("kid_row_#{kid.id}") do
        = render :partial => 'kids/tablerow', :locals => {:kid => kid}