- page_title('Kontakt')

#main-content
  .introduction
    %h1
      Nehmen Sie Kontakt auf
    %p
      %strong
        Projekthilfe Uganda e.V.
      %br
      Christel Henecka ( 1. Vors. )
    %p
      Albrecht-D&uuml;rer-Str. 4
      %br
      76646 Bruchsal-B&uuml;chenau
    %p
      Telefon 07257 / 1482
      %br
      E-Mail:
      = mail_to 'ChristelHenecka@gmx.de', 'ChristelHenecka@gmx.de', :encode => :hex
    %p
      \&nbsp;
    %p
      \&nbsp;
  .imprint
    %h1
      Impressum
    %p
      %strong
        Verantwortlich f&uuml;r Inhalte und Redaktion:
      %br
      Projekthilfe Uganda e.V.
      %br
      Christel Henecka ( 1. Vors. )
    %p
      %strong
        Datenschutz
      %br
      Sie werden eventuell um die Angabe pers&ouml;nlicher Informationen gebeten. Die Beantwortung dieser Fragen ist freiwillig. Die auf der Website erhobenen pers&ouml;nlichen Daten werden ausschlie&szlig;lich zu Ihrer individuellen Betreuung, der &Uuml;bersendung von weiteren Informationen oder der Unterbreitung von Angeboten gespeichert und verarbeitet.
    %p
      %strong
        Haftungsausschluss
      %br
      Diese Website wurde mit gr&ouml;&szlig;tm&ouml;glicher Sorgfalt zusammengestellt. Trotzdem k&ouml;nnen wir f&uuml;r die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen nicht garantieren. Wir schliessen  jegliche Haftung f&uuml;r Sch&auml;den, die direkt oder indirekt aus der Benutzung dieser Website entstehen aus, soweit diese nicht auf Vorsatz oder grober Fahrl&auml;ssigkeit beruhen.
    %p
      %strong
        Externe Verweise und Links
      %br
      Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.
      %br
  %br.clear