#main-content
  %h1
    Vorgang konnte nicht abgeschlossen werden!
    
  %p
    %strong
      Leider konnte Ihre Spende mittels Paypal nicht vollständig abgeschlossen werden!
  %p
    Sie können den Vorgang bei Bedarf einfach wiederholen, da bisher keine Transaktion ausgeführt wurde.