#main-content
  %h1
    Vielen Dank!
    
  %p
    %strong
      Vielen Dank für Ihre Spende!
  %p
    Eine Spendenquittungen konnten Sie sich ja bereits über das Paypal-Spenden Modul ausdrucken lassen. 
    %br
    Sollten Sie hier Probleme gehabt haben, so treten Sie einfach mit uns in Kontakt!