%h1 Create new Post

- form_for @post, :url => admin_posts_path do |form|
  = render :partial => 'form', :locals => {:form => form}
  
  %p.button
    = form.submit "Create"
    or
    = link_to "Back", admin_posts_path
