- page_title('Startseite')

#main-content
  .introduction
    %h1
      Wir sind...
    %p
      ein eingetragener, gemeinn&uuml;tziger Verein (ehemals Missionsgruppe B&uuml;chenau), der in Uganda ein Entwicklungsprojekt  mit Schulen, Berufsausbildung und einem kleinen Krankenhaus aufbaut. Unser Partner ist die Gemeinde Kyamulibwa bei Masaka in Uganda / Ostafrika. Projektleiter ist Pfarrer Kitto, Tr&auml;ger das Entwicklungsb&uuml;ro der Di&ouml;zese Masaka.
  .firstnews
    %h1
      Wir helfen...
    %p
      Zur Zeit unterst&uuml;tzen wir den Aufbau einer Metallwerkstatt f&uuml;r eine Gewerbeschule, den Ausbau von Schulgeb&auml;uden und die Fertigstellung eines Schlafsaalgeb&auml;udes f&uuml;r Aidswaisen. Wir k&ouml;nnen jetzt eine Abrichthobelmaschine f&uuml;r die Schreinerlehrwerkstatt verschicken und suchen noch eine Wurstmaschine f&uuml;r eine Schlachterei mit zuk&uuml;nftigen Metzgerlehrlingen.
  .news
    %h1
      Wir informieren...
    %p
      Die Kinderbriefe der 710 Patenkinder sind noch nicht alle da und werden
      deshalb erst nach Ostern mit Rundbrief an die Paten gesendet.
      %br
      Au&szlig;er diesen v&ouml;llig chancenlosen Kindern, die zum gro&szlig;en Teil Aidswaisen sind, k&ouml;nnen weitere 700 Kinder und Jugendliche in unseren Schulen eine Schul- und Berufsausbildung bekommen und haben damit eine menschenw&uuml;rdige Zukunft.
  %br.clear