- page_title('100% gemeinnützige Hilfe in Kulymumbasi (Uganda) - Helfen Sie uns')

= render :partial => 'layouts/subteaser'

#main-content  
  - for post in @posts
  
    - css_class = (post == @posts[1] ? 'second' : '')
    - css_class = (post == @posts.last ? 'last' : '') if css_class.blank?
  
    .startpage-post{ :class => css_class }
      %h1
        = link_to post.title, post_path(post)
      %p
        = truncate( strip_tags(post.body), :length => 300, :omission => '... ' + link_to('weiterlesen', post_path(post)) )

  %br.clear