#login_box
  You are
  = link_to @current_user.email, '#'#user_path(@current_user)
  \|
  = link_to "Logout", destroy_user_session_path, :confirm => "Hiermit melden Sie sich ab. Sind sie sicher?"#, :method => :delete
  %br
  = link_to "Back to website", root_path