#footer
  .inner
    %span
      %strong
        Projekthilfe Uganda e.V.
      %br
      Christel Henecka ( 1. Vors. )
    %span
      Albrecht-D&uuml;rer-Str.  4
      %br
      76646  Bruchsal-B&uuml;chenau
    %span
      Telefon 07257 / 1482
      %br
      E-Mail:
      = mail_to 'ChristelHenecka@gmx.de', 'ChristelHenecka@gmx.de', :encode => :hex
      
    %span.totop
      = link_to 'Nach oben', '#'
