<div id="pager" class="pager">
	<form>
		<img src="/images/tablesorter/first.png" class="first"/>
		<img src="/images/tablesorter/prev.png" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="/images/tablesorter/next.png" class="next"/>
		<img src="/images/tablesorter/last.png" class="last"/>
		<select class="pagesize">
			<option value="10000">Alle</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="100">100</option>

		</select>
	</form>
</div>
